*
{
    -sizing: border-box;
}

/* body {
			margin: 0;
			font-family: Arial, sans-serif;
			font-size: 16px;
			line-height: 1.5;
            background-image: url('./pic/background.png');
            background-repeat: no-repeat;
            background-size: cover;
		} */

.center
{
    /* 外边距 */
    margin-left:  0;
    margin-right: 0;
    margin-top: 0;
    
}
.a_black
{
    color: black;
    text-decoration: none;
}
ul
{
    list-style-type: none; /* 去掉列表符号 */
    width: 100%;
    margin: 0;
    padding: 0;
}

/* 鼠标悬停时，列表项背景颜色变化 */
li a:hover
{
    background-color: #53b43a;
    color: #f1f1f1;
}
.bar_left ul li a:hover
{
    color: #095aec;
}

/* 列表项样式 */
.logo
{

  display:flex;
  margin-right:auto;
}

.bar_left ul li a
{
    display: flex;
    height:  40px;
    line-height: 110px;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    text-decoration: none;
   color: #555;
    font-size: 14px;
    line-height: 22.5px;
    padding-top: 20px;
    padding-bottom: 12px;
    justify-content: center;
    align-items: center;
}

.bar_top ul li a
{
    display: inline-block;
    width:15%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 0;
    text-decoration: none;
    color: #53b43a;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 0;
}
ul.bar_top li
{
    display: inline;
    padding: 0;
}
ul.bar_top
{
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
}




.center_div
{
    /* 背景框 */
    background-color: #ffffff;
    /* 内边距 */
    padding: 20px;
    /* 外边距 */
    margin-left:  10px; 
    margin-right: 2%;
    margin-top: 1%;
    overflow: auto;
    word-break: break-word;
    white-space: pre-wrap;
    cursor: pointer;
}



.bar_left

{
    float: left;
    width: 12%;
    height:900px;
    /* 背景框 */
    background-color: #f9f9f9;
    margin-left: 0;
    
}
.post_ref_title
{
    /* 主标题样式 */
    font-size: 30px;
    font-weight: bold; /* 粗体 */
    font-family:"微软雅黑";
    text-align:center;
}
.post_ref_info
{
    font-size: 15px;
    font-weight:lighter;/* 变细 */ 
    font-family:"微软雅黑";
    text-align:right;
    padding:0;
}
#container_main
{
    width: 100%;
    float: left;
    /* 外边距 */
    /* margin:10%; */
   margin-top: 0;
	margin: 0 auto;
}
#container_Bottle
{
    width: 78%;
    float: left;
    /* 外边距 */
    /* margin:10%; */
   margin-top: 0;
	margin: 0 auto;
}

.comment_input
{
    font-size:20px;
    font-family: "微软雅黑";
    width: 60%;
    height: 90px;
    margin-left: 2%;
    resize:none;
}

/* 搜索栏 */
.search_bar
{


    box-shadow: 0 0 2px rgb(219, 214, 214);
    /* 内边距 */
    padding: 20px;
    /* 外边距 */
    margin: 20px;
    
}

.search_input
{
    width: 60%;
    height: 70%;
    line-height: 70%;
    text-align: left;
    background-color: #f1f1f1;
    margin: 0;
    text-decoration: none;
    color: #53b43a;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(218, 212, 212);
    margin-left: 5%;
}
.button
{
    width: 10%;
    height: 100%;
    line-height: 120%;
    text-align: center;
    background-color: #f1f1f1;
    margin: 0;
    text-decoration: none;
    color: #53b43a;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(218, 212, 212);
    cursor: pointer;
}

#num_total
{
    margin-left: 25%;
}

.page_line
{
    margin-left:  25%;
    margin-right: 2%;
    margin-top: 1%;
    cursor: pointer;
    
}
ul.page_line
{
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: right;
}
ul.page_line li a
{
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    border-radius: 5px;
}
ul.page_line li
{
    display: inline;

}
ul.page_line a.active
{
    background-color: #53b43a;
    color: #f1f1f1;
}
.box
{
  display:flex;
  align-items:center;
}
.item
{
      display:flex;
    
}
.login
{
    line-height: 110px;
    text-align: center;
    margin: 0;
    text-decoration: none;
    color: #555;
    font-size: 16px;
    line-height: 22.5px;
    padding-top: 20px;
    padding-bottom: 10px;
    width:60px;
}


.server_bar div {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
 
.server_bar input, button {
   border: none;
   outline: none;
}
 
.server_bar input {
  width: 100%;
  height: 42px;
   padding-left: 13px;
   padding-right:46px;
        }
 
.server_bar button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
}


        .server_bar form {
            height: 42px;
        }
        .server_bar input {
            width: 250px;
            border-radius: 42px;
            border: 2px solid #324B4E;
            background: #ECE6E6;
            transition: .3s linear;
            float: right;
        }
        .server_bar input:focus {
            width: 300px;
        }
        .server_bar button {
            background: none;
            top: -2px;
            right: 0;
        }
        .server_bar button:before{
            
            font-family: FontAwesome;
            color: #324b4e;
        }
